#Logs
*.log
shelljs_*

#Libraries and builds
node_modules/
udomo/
devices/main/thirdParty
node*
server/binaries/
etc/

#Backups
server/backups/

#Database
server/db/

#Specific system configuration

#IDEs
.vscode/