#Logs
*.log
dump.rdb
.tmp

#Libraries and builds
node_modules/
udomo/
devices/main/thirdParty
node*
v8*

# SSL certificates and keys
server/ssl

#Backups
server/backups/

#Database
server/db/

#IDEs
.vscode/