body{
  /* padding-top set because navbar overlaps content. Known issue. */
  padding-top: 3.8rem;
  background-color: Beige;
  background-size : cover;
}

.createButton {
  margin-bottom: .3rem;
}

.my-block{
  font-family: serif;
  color:forestgreen;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* Fixed footer to bottom */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Reduce the margin-bottom of alert messages */
.alert {
  margin-bottom: .3rem !important;
}

/************* 404- Not Found Page ***************/
#notFound{
    text-align: center;
}
#notFound h1 { 
    position: fixed; 
    top: 200px; 
    left: 0; 
    width: 100%;
    text-align: center;
}

#notFound h1 span { 
    color: beige; 
    font: bold 50px/76px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#notFound h1 span.spacer {
   padding:0 5px;
}
/************************************************/

/* h4{
  color: cadetblue;
} */

/* input{
  border : 0px;
  outline: 0;
}
select{
  border : 0px;
  outline: 0;
} */
/* .col-centered{
  float : none;
  margin: 0 auto;
} */


.btn-circulo{
  border-radius: 50%;
}

.devOnlineSaved{
  background-color: #009102;
}
.devOnlineNotSaved{
  background-color: #F39111;
}
.devOfflineSaved{
  background-color: #585858;
}

/* .tdDispositivos{
  color: white;
  vertical-align: middle;
  font-size: medium;
}

.sacarUnderline:focus .sacarUnderline:hover{
  text-decoration: none;
} */