<div class='row text-center'>
        <h1>Configurations</h1>
        <button type='button'
                class='btn btn-sm btn-primary'
                data-toggle='modal'
                data-target='#newConf'>New Configuration
        </button>
</div>

<table class='table table-striped table-condensed'>
        <thead>
                <th>Nombre</th>
                <th colspan='2'>Acciones</th>
        </thead>
        <tbody>
                <tr class='text-left' ng-repeat='c in configurations'>
                        <td ng-bind='c.Name'></td>
                        <td>
                                <span class='glyphicon glyphicon-plus btn btn-info'
                                        data-toggle='modal'
                                        data-target='#ConfigurationInfo'
                                        ng-click='confModal = c'>
                                </span>
                        </td>
                </tr>
        </tbody>
</table>
<!-- View Configuration info -->
<div id='ConfigurationInfo' class='modal fade' role='dialog'>
        <div class='modal-dialog modal-sm'>
                <div class='modal-content'>
                        <form class='form text-left' style='padding:1em;' role='form'>
                                <h4>Datos de la configuration 
                                        <strong ng-bind='confModal.Name'></strong>
                                </h4>
                                <ul>
                                        <div ng-if='confModal.Security'>
                                                <li>Security</li>
                                        </div>
                                        <div ng-if='confModal.Devices'>
                                                <li>Devices</li>
                                        </div>
                                        <div ng-if='confModal.Scenes'>
                                                <li>Scenes</li>
                                        </div>
                                        <div ng-if='confModal.Users'>
                                                <li>Users</li>
                                        </div>
                                        <div ng-if='confModal.Readings'>
                                                <li>Readings</li>
                                        </div>
                                </ul>
                        </form>
                </div>
        </div>
</div>
<!-- New Configuration -->
<div id='newConf' class='modal fade' role='dialog'>
        <div class='modal-dialog modal-sm'>
                <div class='modal-content'>
                <form class='form text-left' style='padding:1em;' role='form'>
                        <h4>New Configuration</h4>
                        <div class='form-group'>
                        <input type='text'
                                class='form-control userRegisterInput'
                                ng-model='conf.Name'
                                placeholder='Name'>
                        <button type='button'
                                class='btn btn-default form-control userRegisterInput'
                                ng-class='{"btn-success": conf.Security === true, "btn-danger": conf.Security === false}'
                                ng-click='conf.Security = !conf.Security'
                                title='Security'>Security
                        </button>
                        <button type='button'
                                class='btn btn-default form-control userRegisterInput'
                                ng-class='{"btn-success": conf.Readings === true, "btn-danger": conf.Readings === false}'
                                ng-click='conf.Readings = !conf.Readings'
                                title='Readings'>Readings
                        </button>
                        <button type='button'
                                class='btn btn-default form-control userRegisterInput'
                                ng-class='{"btn-success": conf.Scenes === true, "btn-danger": conf.Scenes === false}'
                                ng-click='conf.Scenes = !conf.Scenes'
                                title='Scenes'>Scenes
                        </button>
                        <button type='button'
                                class='btn btn-default form-control userRegisterInput'
                                ng-class='{"btn-success": conf.Devices === true, "btn-danger": conf.Devices === false}'
                                ng-click='conf.Devices = !conf.Devices'
                                title='Devices'>Devices
                        </button>
                        <button type='button'
                                class='btn btn-default form-control userRegisterInput'
                                ng-class='{"btn-success": conf.Users === true, "btn-danger": conf.Users === false}'
                                ng-click='conf.Users = !conf.Users'
                                title='Users'>Users
                        </button>
                        </div>
                        <div class='form-footer'>
                        <button type='button'
                                class='btn btn-sm btn-primary'
                                data-dismiss='modal'
                                ng-disable="
                                                conf.Security === false &&
                                                conf.Users === false &&
                                                conf.Scenes === false &&
                                                conf.Devices === false &&
                                                conf.Readings === false &&
                                                conf.Name.length === 0"
                                ng-click='createConfiguration(conf)'>Create
                        </button>
                        <button type='button'
                                class='btn btn-sm btn-default'
                                data-dismiss='modal'>Exit
                        </button>
                        </div>
                </form><br>
                </div>
        </div>
</div>