<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='UTF-8'>
        <base href='/'>
        <link rel=icon href='./images/favicon.ico' sizes='16x16' type=image/ico>
        <title>uDomo - Simple Automation</title>
    </head>
    <body ng-app='uDomo' ng-style='ChangeImage' ng-strict-di>
      <div ng-include="'./views/parts/header.html'"></div>
      <div ui-view></div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
      <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css"/>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
