<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='UTF-8'>
        <base href='/'>
        <link rel=icon href='./images/favicon.ico' sizes='16x16' type=image/ico>
        <title>uDomo - Simple Automation</title>
    </head>
    <body ng-app='uDomo' ng-style='ChangeImage' ng-strict-di>
      <div ng-include="'./views/parts/header.html'"></div>
      <div ui-view></div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
    </body>
</html>
