<div class="container-fluid">
  <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
    <!-- Brand -->
    <a class='navbar-brand' ui-sref-active='active' ui-sref='uDomo.home'>uDomo</a>
    <!-- ../ Brand -->
    <div class="collapse navbar-collapse">
      <!-- Links -->
      <ul class='navbar-nav mr-auto nav nav-pills'>
        <!-- Users -->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" ui-sref-active='active' ui-sref='uDomo.users' id='Users' data-toggle='dropdown'>Users</a>
          <div class="dropdown-menu" aria-labelledby="Users">
            <a class="dropdown-item" data-ng-click='GetUsers()' ui-sref='uDomo.users'>List of Users</a><!-- target='_self'-->
            <a class="dropdown-item" data-ng-click='GetPermissions()' ui-sref='uDomo.permissions'>Permissions</a>
            <a class="dropdown-item" data-ng-click='GetConfigurations()' ui-sref='uDomo.configurations'>Configurations</a>
          </div>
        </li>
        <!-- ../ Users -->
        <!-- Devices -->
        <li class="nav-item">
          <a class="nav-link" ui-sref-active='active' ui-sref='uDomo.devices' data-ng-click='GetDevices()'>Devices</a>
        </li>
        <!-- ../ Devices -->
        <!-- Zones -->
        <li class="nav-item">
          <a class="nav-link" ui-sref-active='active' ui-sref='uDomo.zones' data-ng-click='GetZones()'>Zones</a>
        </li>
        <!-- ../ Zones -->  
        <!-- Readings -->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" ui-sref-active='active' id='Readings' data-toggle='dropdown'>Readings</a>
          <div class="dropdown-menu" aria-labelledby="Readings">
            <a class="dropdown-item" ui-sref='uDomo.serverReadings'>Server</a>
            <a class="dropdown-item" ui-sref='uDomo.otherReadings'>Other Readings</a>
          </div>
        </li>
        <!-- ../ Readings -->
        <!-- Security -->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" ui-sref-active='active' id='Security' data-toggle='dropdown'>Security</a>
          <div class="dropdown-menu" aria-labelledby="Security">
            <a class="dropdown-item">Video</a>
            <a class="dropdown-item">Perimeter</a>
            <a class="dropdown-item">Last Warnings</a>
          </div>
        </li>
        <!-- ../ Security -->
        <!-- Backups -->
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" ui-sref-active='active' id='Backups' data-toggle='dropdown'>Backups</a>
          <div class="dropdown-menu" aria-labelledby="Backups">
            <a class="dropdown-item">Create new database backup</a>
            <!-- Aca tiene que venir el ng-repeat para listar los backups disponibles-->
            <a class="dropdown-item">Last Warnings</a>
          </div>
        </li>
        <!-- ../ Backups -->
      </ul>
      <!-- ../ Links -->
      <!-- <ul class='nav navbar-nav navbar-right'>
          <li ng-hide='Token'>
              <button class='btn btn-sm btn-primary'
                      title='Join'
                      data-toggle='modal' 
                      data-target='#newUsers'>Register
              </button>
              <button class='btn btn-sm btn-success'
                      title='Log In'
                      data-toggle='modal' 
                      data-target='#login'>Login
              </button>
          </li>
          <li>
              <a id='username' ng-bind='currentUser.Name' data-toggle='dropdown'></a>
              <ul class='dropdown-menu' role='menu' aria-labelledby='username'>
                  <li role='presentation'><a role='menuitem' ng-click='Logout()'>Logout</a></li>
              </ul>
          </li>
      </ul> -->
    </div>
  </nav>
</div>